/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 1px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.left-column {
  overflow-y: auto;
  padding-right: 20px;
}

.right-column {
  position: fixed;
  /* Set the right column to be fixed */
}

/* Reduce the vertical padding and margin of table cells */
table tr td {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: 0;
}

/* Optionally, reduce the vertical padding of table headers */
table tr th {
  padding-top: 4px;
  padding-bottom: 4px;
}

/* Optionally, reduce the vertical margin of table rows */
table tr {
  margin-top: 0;
  margin-bottom: 0;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}



/* .fixed-column {
  position: fixed;
  /* top: 0; */
  /* right: 0; */
  /* Set the width to 5 columns out of 12 */
  /* width: calc(100% / 12 * 5); */
  /* Optionally, you can add some padding or background color */
  /* padding: 0px; */
  /* background-color: #cdeeff; */
  /* Add any other styles you want */
/* } */



.nav-column {
/*  background-color: #e8e8e8; /* Replace #ff0000 with your desired color code */
  height: 100vh;
  /* Add any other styles you want for the column here */
}


.center {
  margin: 1px;
  margin-top: 10px;
}

/* 

/* Adjust the position of the heading when it's the target
h5:target {
  padding-top: 110px;
} */